div.hidden {
    display: none
}

body {
    background-image: url("../images/cave-img.jpg");
}

.col {
    background-color: white; 
    border-radius: 10px; 
    margin: 10px; 
}

.row2 {
    background-color: white; 
    border-radius: 10px; 
    margin-left: -5px;
    margin-bottom: 50px; 
    margin-right: -5px;
    margin-top: 10px;
}

img:hover {
    padding: 10px;
}

.container {
    font-family: 'Ubuntu', sans-serif;
}